---
layout: default
title: "People"
---
<h2 class="page-title">People</h2>
<article>
    <hr>
    <h4 id="LAB-DIRECTOR">
        <a href="#LAB-DIRECTOR" class="headerlink" title="LAB DIRECTOR"></a>
        LAB DIRECTOR
    </h4>
    <hr>

    <h4 id="Gregory-S-Chirikjian">
        <a href="#Gregory-S-Chirikjian" class="headerlink" title="Gregory S. Chirikjian"></a>
        Gregory S. Chirikjian
    </h4>
    <img style="float: right;"
         src="/images/People/Chirikjian.jpg"
         width="20%"
         height="20%"
         alt="Gregory S. Chirikjian">

    <p>
        Professor of Robotics<br>
        @ <strong>Mohamed Bin Zayed University of Artificial Intelligence (MBZUAI)</strong> <br>
        and<br>
        Willis F. Harrington Professor<br>
        @ <strong>University of Delaware</strong>
    </p>
    <p>
        <strong>Research Interests</strong>:
        <ul>
            <li>Computational structural biology (in particular, computational mechanics of large proteins)</li>
            <li>Conformational statistics of biological macromolecules</li>
            <li>Developed theory for 'hyper-redundant' (snakelike) robot motion planning, designs</li>
            <li>Applied mathematics (applications of group theory in engineering)</li>
            <li>Self-replicating robotic systems</li>
        </ul>
    </p>

    <hr>
    <h4 id="LAB-MEMBERS">
        <a href="#LAB-MEMBERS" class="headerlink" title="LAB MEMBERS"></a>
        LAB MEMBERS
    </h4>
    <hr>

    {% for member in site.data.people.current_members %}
    <h4 id="{{ member.anchor }}">
        <a href="#{{ member.anchor }}" class="headerlink" title="{{ member.name }}"></a>
        {{ member.name }}
    </h4>
    <img style="float: right;"
         src="{{ member.image }}"
         width="{{ member.image_width }}"
         height="{{ member.image_width }}"
         alt="{{ member.name }}">

    <p>
        {{ member.position }}
        (<a href="mailto:{{ member.email }}">{{ member.email }}</a>{% if member.website %},
        <a target="_blank" rel="noopener" href="{{ member.website }}">{{ member.website }}</a>{% endif %})
    </p>
    <p>
        <strong>Research Interests</strong>:<br>
        {{ member.interests }}
    </p>
    <p>
        <strong>Education</strong>:<br>
        {% for edu in member.education %}{{ edu }}<br>
        {% endfor %}
        <br>
    </p>
    <hr>
    {% endfor %}

    <h4 id="ALUMNI">
        <a href="#ALUMNI" class="headerlink" title="ALUMNI"></a>
        ALUMNI
    </h4>

    {% for alumnus in site.data.people.alumni %}
    {% if alumnus.name %}
    <p>{{ alumnus.name }}, Email: <a href="mailto:{{ alumnus.email }}">{{ alumnus.email_display }}</a></p>
    {% else %}
    <p>{{ alumnus }}</p>
    {% endif %}
    {% endfor %}

</article>
