<ul>
    <li>
        <strong>Stochastic Methods in Robotics (Probability, Fourier Analysis, Lie Groups and Applications).</strong>
        G.S. Chirikjian. Georgia Institute of Technology. June 12-22, 2017. Atlanta, GA.
        <a target="_blank" rel="noopener" href="/attaches/Seminars/ga-tech-short-course.pdf">[Slides]</a>
        <a target="_blank" rel="noopener" href="https://mediaspace.gatech.edu/playlist/dedicated/51501371/1_wofxb9vx/1_9b72xaik">[Video]</a>
    </li>
    <li>
        <strong>Stochastic Models in Robotics.</strong>
        G.S. Chirikjian. Georgia Institute of Technology. April 20, 2017. Atlanta, GA.
        <a target="_blank" rel="noopener" href="/attaches/Seminars/gatech-seminar.pdf">[Slides]</a>
        <a target="_blank" rel="noopener" href="https://mediaspace.gatech.edu/media/Stochastic+Models+in+Robotics+-+Gregory+Chirikjian/1_12d3mjii">[Video]</a>
    </li>
    <li>
        <strong>Probabilistic Approaches to the AXB = YCZ Calibration Problem in Multi-Robot Systems.</strong>
        Q. Ma, Z. Goh, G.S. Chirikjian. RSS 2016. Ann Arbor, MI.
        <a target="_blank" rel="noopener" href="/attaches/Seminars/Probabilistic-Approaches-to-the-AXB-YCZ-Calibration-Problem-in-Multi-Robot-Systems.pdf">[Slides]</a>
    </li>
    <li>
        <strong>New Probabilistic Approaches to the AX = XB Hand-Eye Calibration without Correspondence.</strong>
        Q. Ma, H. Li, G.S. Chirikjian. ICRA 2016. Stockholm, Sweden.
        <a target="_blank" rel="noopener" href="/attaches/Seminars/AXYB.pdf">[Slides]</a>
    </li>
    <li>
        <strong>Stochastic Kinematics.</strong>
        G.S. Chirikjian. ICRA 2009. Kobe, Japan.
        <a target="_blank" rel="noopener" href="/attaches/Seminars/icra_tutorial.pdf">[Slides]</a>
    </li>
</ul>
