<ul>
    <li>
        <strong>Harmonic Analysis for Engineers and Applied Scientists: Updated and Expanded Edition.</strong>
        G. S. Chirikjian, A. B. Kyatkin. Dover Publications. July 2016.
    </li>
    <li>
        <strong>Stochastic Models, Information Theory, and Lie Groups: Volume 2 Analytic Methods and Modern Applications.</strong>
        G. S. Chirikjian. Boston: Birkhäuser. Nov. 2011.
    </li>
    <li>
        <strong>Stochastic Models, Information Theory, and Lie Groups: Volume 1 Classical Results and Geometric Methods.</strong>
        G. S. Chirikjian. Boston: Birkhäuser. Sept. 2009.
        <ul>
            <li>
                Please note the associated
                <a target="_blank" rel="noopener" href="/attaches/Seminars/ChirikjianVol1_Addenda.pdf">[Addenda]</a>
                and
                <a target="_blank" rel="noopener" href="/attaches/Seminars/erratum.pdf">[Erratum]</a>.
            </li>
        </ul>
    </li>
    <li>
        <strong>Engineering Applications of Noncommutative Harmonic Analysis.</strong>
        G. S. Chirikjian, A. B. Kyatkin. CRC Press. Oct. 2000.
    </li>
</ul>
